<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="IntelligentTraffic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <IntelligentTraffic.Properties.Settings>
            <setting name="Arco" serializeAs="String">
                <value>Arco Movil 1</value>
            </setting>
            <setting name="Sentido" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Carril" serializeAs="String">
                <value>1</value>
            </setting>
        </IntelligentTraffic.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="Arco" value="Arco Movil 1"/>
		<add key="Carril" value="1"/>
		<add key="Sentido" value="1"/>
	</appSettings>
</configuration>
